---
/**
 * Componente de banner promocional para la página de inicio
 */
---

<div class="container mx-auto my-8">
  <div class="flex justify-center">
    <a href="https://noticias.congresoedomex.gob.mx/resultados/" target="_blank" rel="noopener noreferrer" class="block hover:opacity-90 transition-opacity">
      <img src="https://api.amaqueme.mx/wp-content/uploads/2025/07/GIFV3_970x90-3.gif" alt="Banner promocional" class="max-w-full h-auto rounded shadow-md" />
    </a>
  </div>
</div>
