---
/**
 * Componente de banner promocional para la página de inicio
 */
---

<div class="container mx-auto my-8">
  <div class="flex justify-center">
    <a
      href="https://congresoedomex.gob.mx/?src=Ama"
      target="_blank"
      rel="noopener noreferrer"
      class="block hover:opacity-90 transition-opacity"
    >
      <img
        src="https://api.amaqueme.mx/banners/violencia.gif"
        alt="Banner promocional"
        class="max-w-full h-auto rounded shadow-md"
      />
    </a>
  </div>
</div>
